{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block title %}{{ _('PGS Certificate Manager') }}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block skin %}skin-green{% endblock %}
{% block navbar %}
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            {% if current_user.is_authenticated and check_role(current_user.roles, [g.c.N_ADMIN, g.c.N_MOD, g.c.R_ADMIN, g.c.R_MOD]) %}
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="warning dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-warning"></i>
                        <span class="label label-warning">0</span>
                    </a>
                    <ul class="dropdown-menu" style="width: 200px;height: 79px;">
                        <li class="header"><b>0</b> {{ _('nearly expired certificate(s)!') }}</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <a href="{{ lurl_for('report.alarms') }}">
                                        <i class="fa fa-warning danger"></i>
                                        {{ _('Click for more details!') }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- Language choosing -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-globe"></i>
                        <span class="label label-danger">{{ g.language }}</span>
                    </a>
                    <ul class="dropdown-menu" style="width: 140px;height: 120px;">
                        <li class="header">{{ _('Change the language.') }}</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <a href="{{ url_for(request.endpoint[:-2] + 'vi') }}">
                                        <i class="fa fa-circle"></i>
                                        {{ _('Vietnamese') }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for(request.endpoint[:-2] + 'en') }}">
                                        <i class="fa fa-circle"></i>
                                        {{ _('English') }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if current_user.is_authenticated %}
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>{{ current_user.full_name }} <i
                                class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-blue">
                            <img src="{{ current_user.avatar }}"
                                 class="img-circle"
                                 alt="User Image"/>
                            <p>
                                {{ current_user.fullname }}
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#"
                                   class="btn btn-default btn-flat">{{ _('Profile') }}</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ url_for_security('logout') }}"
                                   class="btn btn-default btn-flat">{{ _('Sign out') }}</a>
                            </div>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
{%- endblock navbar %}

{% block sidebar -%}
    <!-- sidebar: style can be found in sidebar.less -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    {% if current_user.is_authenticated %}
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ current_user.avatar }}" alt="User Image"
                     class="img-circle">
            </div>
            <div class="pull-left info">
                <p>{{ current_user.fullname }}</p>
                <a href="#">
                    <i class="fa fa-circle text-success"></i>
                    Online
                </a>
            </div>
        </div>
    {% endif %}
    <!-- search form -->
{#    <form action="#" method="get" class="sidebar-form">#}
{#        <div class="input-group">#}
{#            <input type="text" name="q" class="form-control"#}
{#                   placeholder={{ _('Search...') }}>#}
{#            <span class="input-group-btn">#}
{#                <button type="submit" name="search" id="search-btn"#}
{#                        class="btn btn-flat"><i class="fa fa-search"></i>#}
{#                </button>#}
{#              </span>#}
{#        </div>#}
{#    </form>#}
    <!-- /.search form -->
    <ul class="sidebar-menu">
        <li class="header">{{ _('PGS MANAGEMENT') }}</li>
        <li class="{{ is_active_in_tree(request, 'main.index') }}">
            <a href="{{ lurl_for('main.index') }}">
                <i class="fa fa-dashboard"></i> <span>{{ _('Overview') }}</span>
            </a>
        </li>
        {% if current_user.is_authenticated %}
            <li class="treeview {{ is_active_in_tree(request, 'certificate', True) }}">
                <a href="{{ lurl_for('certificate.index') }}">
                    <i class="fa fa-balance-scale"></i>
                    <span>{{ _('Certificate') }}</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="{{ is_active_in_tree(request, 'certificate.groups', False) }}">
                        <a href="{{ lurl_for('certificate.groups') }}">
                            <i class="fa fa-group"></i>
                            {{ _('Certified Group') }}
                        </a>
                    </li>
                    <li class="{{ is_active_in_tree(request, 'certificate.farmers', False) }}">
                        <a href="{{ lurl_for('certificate.farmers') }}">
                            <i class="fa fa-child"></i>
                            {{ _('Certified Farmer') }}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="{{ is_active_in_tree(request, 'farmer.index') }}">
                <a href="{{ lurl_for('farmer.index') }}">
                    <i class="fa fa-child"></i> <span>{{ _('Farmer') }}</span>
                </a>
            </li>
            <li class="{{ is_active_in_tree(request, 'group.index') }}">
                <a href="{{ lurl_for('group.index') }}">
                    <i class="fa fa-group"></i> <span>{{ _('Group') }}</span>
                </a>
            </li>

            <li class="{{ is_active_in_tree(request, 'agroup.index') }}">
                <a href="{{ lurl_for('agroup.index') }}">
                    <i class="fa fa-home"></i> <span>{{ _('Inter-group') }}</span>
                </a>
            </li>
{#            {% if check_role(current_user.roles, [g.c.N_ADMIN, g.c.R_ADMIN, g.c.N_MOD, g.c.R_MOD]) %}#}
            <li class="alarm {{ is_active_in_tree(request, 'report.alarms', False) }}">
                <a href="{{ lurl_for('report.alarms') }}">
                    <i class="fa fa-warning"></i>
                    {{ _('Warning') }}
                    <span class="pull-right-container">
                      <small class="label pull-right bg-yellow">0</small>
                    </span>
                </a>
            </li>
{#            {% endif %}#}
            {% if check_role(current_user.roles, [g.c.N_ADMIN, g.c.R_ADMIN]) %}
                <li class="treeview {{ is_active_in_tree(request, 'admin', True) }}">
                    <a href="{{ lurl_for('admin.index') }}">
                        <i class="fa fa-key"></i>
                        <span>{{ _('Administrator') }}</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{{ is_active_in_tree(request, 'admin.users', False) }}">
                            <a href="{{ lurl_for('admin.users') }}">
                                <i class="fa fa-user"></i>
                                {{ _('Users Management') }}
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        {% endif %}

        {% if not current_user.is_authenticated %}
            <li class="header">{{ _('USER') }}</li>
            <li class="treeview">
                <a href="{{ url_for_security('login') }}">
                    <i class="fa fa-user"></i> <span>{{ _('Login') }}</span>
                </a>
            </li>
{#            <li class="treeview">#}
{#                <a href="{{ url_for_security('register') }}">#}
{#                    <i class="fa fa-user-plus"></i> <span>{{ _('Register') }}</span>#}
{#                </a>#}
{#            </li>#}
        {% endif %}
    </ul>
    <!-- /.sidebar -->
{%- endblock sidebar %}

{% block content_header -%}
    <h1>
        {{ _('Overview') }}
        <small>{{ _('PGS status') }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>{{ _(' Home') }}</a></li>
        <li class="active">{{ _('Overview') }}</li>
    </ol>
{%- endblock content_header %}

{% block scripts -%}
    {{ super() }}
    <script>
    $.get('/certificate/nearly_expired', function(res, status, req) {
    if (req.getResponseHeader('Content-Type') == 'application/json') {
        count = req.getResponseHeader('X-Total-Count');
        $("li.warning").find('span.label-warning').html(count);
        $("li.warning").find('b').html(count);
        $("li.alarm").find('small.label').html(count);
    }
    })
    </script>
{%- endblock scripts  %}

{% block content -%}
    <h4 class="page-header">
        {{ _('PGS Status') }}
        <small>{{ _('Quickly summary about <code>PGS Certificates</code> analytics.') }}
        </small>
    </h4>
    <script src="{{ adminlte_find_resource('js/plugins/jQuery/jquery-2.2.3.js', cdn='local', use_minified=True)}}"></script>
    <!-- Small boxes (Stat box) -->
    <div class="row">
        {{ widgets.small_box(
                id="pgs-cert-wg",
                url="/certificate",
                data='"_deleted_at":null,"certificate_expiry_date":[{"$gte":"'|safe + time + '"}]'|safe,
                bgcolor="bg-green",
                header=0,
                body=_("Certificates"),
                iconclass="fa fa-balance-scale",
                footerlink="certificate.groups"
              ) }}
        {{ widgets.small_box(
                id="pgs-farmer-wg",
                url="/farmer",
                bgcolor="bg-yellow",
                header=0,
                body=_("Farmers"),
                iconclass="fa fa-child",
                footerlink="farmer.index"
              ) }}
        {{ widgets.small_box(
                id="pgs-group-wg",
                url="/group",
                bgcolor="bg-aqua",
                header=0,
                body=_("Groups"),
                iconclass="fa fa-group",
                footerlink="group.index"
              ) }}
        {{ widgets.small_box(
            id="pgs-agroup-wg",
            url="/associate_group",
            bgcolor="bg-orange",
            header=0,
            body=_("Inter-group"),
            iconclass="fa fa-home",
            footerlink="agroup.index"
          ) }}
        {{ widgets.small_box(
            id="pgs-ecert-wg",
            url="/certificate/nearly_expired",
            bgcolor="bg-yellow",
            header=0,
            body=_("About to expire"),
            iconclass="fa fa-warning",
            footerlink="report.alarms"
          ) }}
        {{ widgets.small_box(
            id="pgs-tapproved-area-wg",
            url="/associate_group/area?approved=True",
            bgcolor="bg-green",
            header=0,
            body=_("Total approved area"),
            iconclass="fa fa-check-circle-o",
            footerlink="certificate.groups",
            is_header=False,
            unit="m2"
          ) }}
        {{ widgets.small_box(
            id="pgs-total-area-wg",
            url="/associate_group/area?approved=False",
            bgcolor="bg-orange",
            header=0,
            body=_("Total requested area"),
            iconclass="fa fa-question-circle",
            footerlink="certificate.groups",
            is_header=False,
            unit="m2"
          ) }}
        {{ widgets.small_box(
            id="pgs-total-male",
            url="/associate_group/gender?type=1",
            bgcolor="bg-blue",
            header=0,
            body=_("Total male farmers"),
            iconclass="fa fa-mars",
            footerlink="agroup.index",
            is_header=False
          ) }}
        {{ widgets.small_box(
            id="pgs-total-female",
            url="/associate_group/gender?type=2",
            bgcolor="bg-maroon",
            header=0,
            body=_("Total female farmers"),
            iconclass="fa fa-venus",
            footerlink="agroup.index",
            is_header=False
          ) }}
    </div><!-- /.row -->
{%- endblock content %}
