{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block title %}{{ _('PGS Certificate Manager') }}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}"
          type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
          type="image/x-icon">
{% endblock %}

{% block skin %}skin-green{% endblock %}
{% block navbar %}
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            {% if current_user.is_authenticated and ('national_admin' in current_user.roles or
            'national_moderator' in current_user.roles) %}
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope"></i>
                        <span class="label label-warning">1</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 1 message</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li><!-- start message -->
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="{{ current_user.avatar }}"
                                                 class="img-circle"
                                                 alt="User Image"/>
                                        </div>
                                        <h4>
                                            Message title
                                            <small><i class="fa fa-clock-o"></i> 5
                                                mins
                                            </small>
                                        </h4>
                                        <p>Message Content</p>
                                    </a>
                                </li><!-- end message -->
                            </ul>
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-warning"></i>
                        <span class="label label-warning">2</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 2 tasks!</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-warning danger"></i>
                                        Certificate 2017.BT-01 mid-term audit due
                                        date!
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-warning danger"></i>
                                        Certificate 2017.TX-02 expired soon!
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
                <!-- Language choosing -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-globe"></i>
                        <span class="label label-danger">{{ g.language }}</span>
                    </a>
                    <ul class="dropdown-menu" style="width: 140px;height: 120px;">
                        <li class="header">{{ _('Change the language.') }}</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <a href="{{ url_for(request.endpoint[:-2] + 'vi') }}">
                                        <i class="fa fa-circle"></i>
                                        {{ _('Vietnamese') }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for(request.endpoint[:-2] + 'en') }}">
                                        <i class="fa fa-circle"></i>
                                        {{ _('English') }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if current_user.is_authenticated %}
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>{{ current_user.full_name }} <i
                                class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-blue">
                            <img src="{{ current_user.avatar }}"
                                 class="img-circle"
                                 alt="User Image"/>
                            <p>
                                {{ current_user.fullname }}
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#"
                                   class="btn btn-default btn-flat">{{ _('Profile') }}</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ url_for_security('logout') }}"
                                   class="btn btn-default btn-flat">{{ _('Sign out') }}</a>
                            </div>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
{%- endblock navbar %}

{% block sidebar -%}
    <!-- sidebar: style can be found in sidebar.less -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    {% if current_user.is_authenticated %}
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ current_user.avatar }}" alt="User Image"
                     class="img-circle">
            </div>
            <div class="pull-left info">
                <p>{{ current_user.fullname }}</p>
                <a href="#">
                    <i class="fa fa-circle text-success"></i>
                    Online
                </a>
            </div>
        </div>
    {% endif %}
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control"
                   placeholder={{ _('Search...') }}>
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn"
                        class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
    </form>
    <!-- /.search form -->
    <ul class="sidebar-menu">
        <li class="header">{{ _('PGS MANAGEMENT') }}</li>
        <li class="{{ is_active_in_tree(request, 'main') }}">
            <a href="{{ lurl_for('main.index') }}">
                <i class="fa fa-dashboard"></i> <span>{{ _('Dashboard') }}</span>
            </a>
        </li>
        {% if current_user.is_authenticated and ('national_admin' in current_user.roles or
        'national_moderator' in current_user.roles) %}
            <li class="{{ is_active_in_tree(request, 'certificate') }}">
                <a href="{{ lurl_for('certificate.index') }}">
                    <i class="fa fa-balance-scale"></i> <span>{{ _('Certificate') }}</span>
                </a>
            </li>

            <li class="{{ is_active_in_tree(request, 'farmer') }}">
                <a href="#">
                    <i class="fa fa-child"></i> <span>{{ _('Farmer') }}</span>
                </a>
            </li>
            <li class="{{ is_active_in_tree(request, 'group') }}">
                <a href="#">
                    <i class="fa fa-group"></i> <span>{{ _('Group') }}</span>
                </a>
            </li>

            <li class="{{ is_active_in_tree(request, 'associate_group') }}">
                <a href="#">
                    <i class="fa fa-home"></i> <span>{{ _('Associated Group') }}</span>
                </a>
            </li>
            {% if 'national_admin' in current_user.roles %}
                <li class="header">{{ _('DMZ') }}</li>
                <li class="{{ is_active_in_tree(request, 'admin') }}">
                    <a href="{{ lurl_for('admin.index') }}">
                        <i class="fa fa-key"></i>
                        <span>{{ _('Administrator') }}</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{{ lurl_for('admin.users') }}">
                                <i class="fa fa-user"></i>
                                {{ _('Users Management') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ lurl_for('admin.regions') }}">
                                <i class="fa fa-map"></i>
                                {{ _('PGS Regions Management') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ lurl_for('admin.configs') }}">
                                <i class="fa fa-cogs"></i>
                                {{ _('Configurations') }}
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        {% elif current_user.is_authenticated and ('user' in current_user.roles) %}
            <li class="{{ is_active_in_tree(request, 'certificate') }}">
                <a href="{{ lurl_for('certificate.index') }}">
                    <i class="fa fa-balance-scale"></i> <span>{{ _('Certificate') }}</span>
                </a>
            </li>

            <li class="{{ is_active_in_tree(request, 'farmer') }}">
                <a href="#">
                    <i class="fa fa-child"></i> <span>{{ _('Farmer') }}</span>
                </a>
            </li>
            <li class="{{ is_active_in_tree(request, 'group') }}">
                <a href="#">
                    <i class="fa fa-group"></i> <span>{{ _('Group') }}</span>
                </a>
            </li>

            <li class="{{ is_active_in_tree(request, 'associate_group') }}">
                <a href="#">
                    <i class="fa fa-home"></i> <span>{{ _('Associated Group') }}</span>
                </a>
            </li>
        {% endif %}

        {% if not current_user.is_authenticated %}
            <li class="header">{{ _('USER') }}</li>
            <li class="treeview">
                <a href="{{ url_for_security('login') }}">
                    <i class="fa fa-user"></i> <span>{{ _('Login') }}</span>
                </a>
            </li>
            <li class="treeview">
                <a href="{{ url_for_security('register') }}">
                    <i class="fa fa-user-plus"></i> <span>{{ _('Register') }}</span>
                </a>
            </li>
        {% endif %}
    </ul>
    <!-- /.sidebar -->
{%- endblock sidebar %}

{% block content_header -%}
    <h1>
        {{ _('Dashboard') }}
        <small>{{ _('Summary report about PGS status') }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>{{ _(' Home') }}</a></li>
        <li class="active">{{ _('Dashboard') }}</li>
    </ol>
{%- endblock content_header %}
{% block content -%}
    <h4 class="page-header">
        {{ _('PGS Status') }}
        <small>{{ _('Quickly summary about <code>PGS Certificates</code> analytics.') }}
        </small>
    </h4>
    <!-- Small boxes (Stat box) -->
    <div class="row">

        {{ widgets.small_box(
                bgcolor="bg-green",
                header=150,
                body="Certificates",
                iconclass="fa fa-heart",
                footerlink="#"
              ) }}

        {{ widgets.small_box(
                bgcolor="bg-red",
                header=53,
                body="Expiry Certificates",
                iconclass="fa fa-warning",
                footerlink="#"
              ) }}

        {{ widgets.small_box(
                bgcolor="bg-yellow",
                header=43,
                body="Farmers",
                iconclass="fa fa-child",
                footerlink="#"
              ) }}

        {{ widgets.small_box(
                bgcolor="bg-aqua",
                header=65,
                body="Groups",
                iconclass="fa fa-group",
                footerlink="#"
              ) }}

    </div><!-- /.row -->
{%- endblock content %}
