{% import "bootstrap/wtf.html" as wtf %}
{% macro render_modal(id, type, title, size='', label_sum=[], column_name=[], cert_tab=None) -%}
    <div class="modal {{ type }} fade" id="{{ id }}"
         style="display: none">
        <!-- .modal -->
        <div class="modal-dialog {{ size }}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{{ title }}</h4>
                </div>
                <div class="modal-body">
                    {% if id == g.c.MODAL_ADD_ID or id == g.c.MODAL_EDIT_ID %}
                        {{ wtf.quick_form(form) }}
                    {% elif id == g.c.MODAL_DEL_ID %}
                        {{ _('Do you really want to delete data?') }}
                        {{ wtf.quick_form(dform) }}
                    {% elif id == g.c.MODAL_HISTORY_ID %}
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered {{ g.c.MODAL_HISTORY_ID }} scrollable">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{ _('Certificate code') }}</th>
                                    <th>{{ _('Decision') }}</th>
                                    <th>{{ _('Status') }}</th>
                                    <th>{{ _('Verify status') }}</th>
                                    <th>{{ _('Verify date') }}</th>
                                    <th>{{ _('Expiry date') }}</th>
                                    <th>{{ _('Modify info') }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    {% elif id == g.c.MODAL_DETAIL_ID %}
                        <div class="nav-tabs-custom" style="margin-bottom: 0px !important;">
                            <ul class="nav nav-tabs pull-right">
                                <li class="active"><a href="#tab_summary" data-toggle="tab"
                                                      aria-expanded="true">{{ _('Summary') }}</a></li>
                                <li class=""><a href="#tab_history" data-toggle="tab"
                                                aria-expanded="false">{{ _('History') }}</a></li>
                                {% if cert_tab == 'group' %}
                                <li class=""><a href="#tab_cert" data-toggle="tab"
                                                aria-expanded="false">{{ _('Certificate') }}</a></li>
                                {% endif %}
                                <li class="pull-left header"><i class="fa fa-th"></i> {{ _('Detail info') }}</li>
                            </ul>
                            <div class="tab-content" >
                                <div class="tab-pane active" id="tab_summary">
                                    <div class="form-group pull-right">
                                        <select id="year_report" style="display: none">
                                        </select>
                                    </div>
                                    {% for lbl in label_sum %}
                                        <div class="form-group" style="clear: right;">
                                            <label class="col-md-7 col-sm-7 col-xs-7 control-label">
                                                {{ _('Total of ') + lbl[0] }}
                                            </label>
                                            {% if lbl[1] %}
                                                <label class="col-md-5 col-sm-5 col-xs-5 control-label">
                                                    <span id="label_sum{{ label_sum.index(lbl) }}">0/0</span>(m<sup>2</sup>)
                                                </label>
                                            {% else %}
                                                <label id="label_sum{{ label_sum.index(lbl) }}"
                                                       class="col-md-5 col-sm-5 col-xs-5 control-label">0
                                                </label>
                                            {% endif %}
                                        </div>
                                        <br/>
                                    {% endfor %}
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_history">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered {{ g.c.MODAL_HISTORY_ID }}">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                {% for col_name in column_name %}
                                                    <th>{{ col_name }}</th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p id="no_data" class="hidden" style="text-align: center;">{{ _('No data') }}</p>
                                </div>
                                <!-- /.tab-pane -->
                                <!-- /.tab-pane -->
                            {% if cert_tab == 'group' %}
                                <div class="tab-pane" id="tab_cert">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered {{ g.c.TAB_CERTIFICATE_ID }}">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>{{ _('Code') }}</th>
                                                <th>{{ _('Area') }}</th>
                                                <th>{{ _('Member count') }}</th>
                                                <th>{{ _('Decision') }}</th>
                                                <th>{{ _('Status') }}</th>
                                                <th>{{ _('Verify status') }}</th>
                                                <th>{{ _('Verify date') }}</th>
                                                <th>{{ _('Note') }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p id="no_cert_data" class="hidden" style="text-align: center;">{{ _('No data') }}</p>
                                </div>
                                <!-- /.tab-pane -->
                            {% endif %}
                            </div>
                            <!-- /.tab-content -->
                        </div>

                    {% endif %}
                </div>
                {% if id == g.c.MODAL_HISTORY_ID or id == g.c.MODAL_DETAIL_ID %}
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-default pull-right"
                                data-dismiss="modal">
                            {{ _('Close') }}
                        </button>
                    </div>
                {% endif %}
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{%- endmacro %}

{% macro render_btn(id, size='btn-xs', type='btn-default', modal_target='modal', title="",
        css_class='plus', data=None, multi_select_data=None, multi_select_key=None) -%}
    <button type="button" class="btn {{ id }} {{ size }} {{ type }}"
            data-toggle="modal"
            data-target="#{{ modal_target }}"
            {% if data %}
                {% for col in data.__table__.c._data %}
                    {% if not col.startswith('_') and not col.startswith('pass') %}
                        {% if data.__getattribute__(col).value is defined %}
            data-{{ col }}="{{ data.__getattribute__(col).value }}"
                        {% else %}
            data-{{ col }}="{{ data.__getattribute__(col) }}"
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if multi_select_data and multi_select_key %}
                {% for d in multi_select_data %}
            data-multi-select-{{ d[multi_select_key] }}="{{ d[multi_select_key] }}"
                {% endfor %}
            {% endif %}>
        <span class="fa fa-{{ css_class }}"></span>
        {% if title %}{{ title }}{% endif %}
    </button>
{%- endmacro %}
