table.modal-cert-history {
    display: block;
    max-height: 250px;
    overflow-y: scroll;
    max-width: none !important;
}

table.modal-cert-history thead, table.modal-cert-history tbody tr {
    /*display: table;*/
    width: 100%;
    table-layout: fixed;
}

table.modal-cert-history th:first-child, table.modal-cert-history td:first-child {
    width: 5%;
}