{% macro small_box(id = "wg", url="", bgcolor="bg-yellow", header="44", data="",
percentage=False, body="User Registrations", iconclass="fa fa-home",
footerlink="#", is_header=True, unit="") %}
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box {{ bgcolor }}" id="{{ id }}">
            <div class="inner">
                <h3>
                    {{ header }}{% if percentage %}
                        <sup style="font-size: 20px">%</sup>{% endif %}
                </h3>

                <p>{{ body }}</p>
            </div>
            <div class="icon">
                <i class="{{ iconclass }}"></i>
            </div>
            <a href="{{ lurl_for(footerlink) }}" class="small-box-footer">
                {{ _('More info') }} <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- script -->
    <script>
        $("#{{ id }}").ready(function (event) {
            $.get('{{ url }}', 'where={ {{ data }} }', function(res, status, req) {
                if (req.getResponseHeader('Content-Type') !== 'application/json') {
                    $("#{{ id }}").find('h3').html(0);
                } else {
                    {% if is_header %}
                    count = req.getResponseHeader('X-Total-Count');
                    {% else %}
                    count = res
                    {% endif %}
                    $("#{{ id }}").find('h3').html(count + ' {{ unit }}');
                }
            })
        })
    </script>
{% endmacro %}
