{% extends "index.html" %}
{% from 'macro.html' import render_modal, render_btn  with context %}

{%- block styles %}
    {{ load_datatables_script(js=False, select2_class=g.c.SELECT_DEFAULT_ID) }}
    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/table_cert_history.css') }}">

{%- endblock styles %}

{% block scripts %}
    {{ super() }}
    <!-- DataTables with select2 enabled -->
    {% if check_role(current_user.roles, [g.c.N_ADMIN, g.c.N_MOD, g.c.R_ADMIN, g.c.R_MOD]) %}
    {{ load_datatables_script(
            ajax_endpoint='group', crud_endpoint=['group.add_group', 'group.edit_group', 'group.delete_group'],
            export_columns='0,1,2,3,4,5,6',
            column_names=[("group_code", True, g.c.LINK_DISP, _('Code')), ("name", True, g.c.BOLD_DISP, _('Name')),
            ("village", True, None, _('Village')), ("ward.name", False, None, _('Ward')),
            ("district.name", False, None, _('District')), ("province.name", False, None, _('Province')),
            ("associate_group.name", False, None, _('Inter-group')), ("action", False, None, _('Actions'))],
            select2_class=g.c.SELECT_DEFAULT_ID, has_button_view=True) }}
    {% else %}
    {{ load_datatables_script(
            ajax_endpoint='group', crud_endpoint=['group.add_group', 'group.edit_group', 'group.delete_group'],
            export_columns='0,1,2,3,4,5,6',
            column_names=[("group_code", True, g.c.LINK_DISP, _('Code')), ("name", True, g.c.BOLD_DISP, _('Name')),
            ("village", True, None, _('Village')), ("ward.name", False, None, _('Ward')),
            ("district.name", False, None, _('District')), ("province.name", False, None, _('Province')),
            ("associate_group.name", False, None, _('Inter-group'))],
            select2_class=g.c.SELECT_DEFAULT_ID, has_button_view=False) }}
    {% endif %}

{%- endblock scripts %}
{% block content_header -%}
    <h1>
        {{ _('PGS Groups') }}
        <small>{{ _('Managing regional groups in PGS system') }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ lurl_for('main.index') }}"><i
                class="fa fa-dashboard"></i> {{ _('Home') }}</a></li>
        <li class="active"><a href="{{ lurl_for('group.index') }}"><i
                class="fa fa-group"></i>{{ _('Group') }}</a></li>
    </ol>
{%- endblock content_header %}
{% block content -%}
    {% if check_role(current_user.roles, [g.c.N_ADMIN, g.c.N_MOD, g.c.R_ADMIN, g.c.R_MOD]) %}
        {{ render_btn(g.c.BTNADD_ID, 'btn-default', '', g.c.MODAL_ADD_ID, _('Create New'), 'plus', '') }}
    {% endif %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ _('PGS Groups') }}</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="pgs_data"
                           class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ _('Code') }}</th>
                            <th>{{ _('Name') }}
                            <th>{{ _('Village') }}</th>
                            <th>{{ _('Ward') }}</th>
                            <th>{{ _('District') }}</th>
                            <th>{{ _('Province') }}</th>
                            <th>{{ _('Inter-group') }}</th>
                            {% if check_role(current_user.roles, [g.c.N_ADMIN, g.c.N_MOD, g.c.R_ADMIN, g.c.R_MOD]) %}
                                <th>{{ _('Actions') }}</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for gr in gs %}
                            <tr>
                                <td><b>{{ gr.group_code }}</b></td>
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#{{ g.c.MODAL_HISTORY_ID }}"
                                       class="view_gr_history" data-owner_group_id="{{ gr.id }}">
                                        <b>{{ gr.name }}</b>
                                    </a>
                                </td>
                                <td>{{ gr.village }}</td>
                                <td>{{ gr.ward.name }}</td>
                                <td>{{ gr.district.name }}</td>
                                <td>{{ gr.province.name }}</td>
                                <td>{{ gr.associate_group.name }}</td>
                                {% if check_role(current_user.roles, [g.c.N_ADMIN, g.c.N_MOD, g.c.R_ADMIN, g.c.R_MOD]) %}
                                    <td class="actions_column">
                                        {{ render_btn(g.c.BTNEDIT_ID, 'btn-xs', 'btn-info', g.c.MODAL_EDIT_ID, '', 'edit', gr) }}
                                        {{ render_btn(g.c.BTNVIEW_ID, 'btn-xs', 'btn-warning', g.c.MODAL_DETAIL_ID, '', 'search', gr) }}
                                        {{ render_btn(g.c.BTNDEL_ID, 'btn-xs', 'btn-danger', g.c.MODAL_DEL_ID, '', 'trash', gr) }}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    {{ render_modal(g.c.MODAL_ADD_ID, 'modal', _('Create New')) }}
    {{ render_modal(g.c.MODAL_EDIT_ID, 'modal', _('Update Data')) }}
    {{ render_modal(g.c.MODAL_DEL_ID, 'modal-danger', _('Confirm to delete') ) }}
    {{ render_modal(g.c.MODAL_DETAIL_ID, 'modal', _('Group info'), 'modal-lg',
            [(_('certificates'), False), (_('farmers (Male / Female)'), False), (_('approved area'), True)],
            [_('Farmer code'), _('Name'), _('Gender'), _('Type'), _('Deleted at'), _('Reason')], 'group') }}
{%- endblock content %}
