{% import "bootstrap/wtf.html" as wtf %}

{% macro render_btn(id, size='btn-xs', type='btn-default', modal_target='modal', title="", css_class='plus', data=None) -%}
    <button type="button" class="btn {{ id }} {{ size }} {{ type }}"
            data-toggle="modal"
            data-target="#{{ modal_target }}"
            {% if data %}
                {% for col in data.__table__.c._data %}
                    {% if not col.startswith('_') and not col.startswith('pass') %}
            data-{{ col }}="{{ data.__getattribute__(col) }}"
                    {% endif %}
                {% endfor %}
                {% for role in data.roles %}
                    data-role-{{ role.name }}="{{ role.name }}"
                {% endfor %}
            {% endif %}>
        <span class="fa fa-{{ css_class }}"></span>
        {% if title %}{{ title }}{% endif %}
    </button>
{%- endmacro %}