{% extends "index.html" %}
{%- block styles %}
    {{ super() }}
    {{ load_datatables_script(js=False) }}
{%- endblock styles %}

{% block scripts %}
    {{ super() }}
    <!-- DataTables -->
    {{ load_datatables_script(
            ajax_endpoint='associate_group',
            export_columns='0,1,2,3',
            column_names=["associate_group_code", "name", "email", "province", "province"]) }}
{%- endblock scripts %}
{% block content_header -%}
    <h1>
        {{ _('PGS Associate Groups') }}
        <small>{{ _('Managing regional associate groups in PGS system') }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ lurl_for('main.index') }}"><i
                class="fa fa-dashboard"></i> {{ _('Home') }}</a></li>
        <li class="active"><a href="{{ lurl_for('agroup.index') }}"><i
                class="fa fa-home"></i>{{ _('Associated Group') }}</a></li>
    </ol>
{%- endblock content_header %}
{% block content -%}
    <button id="addBtn" type="button" class="btn btn-default" data-toggle="modal"
        data-target="#modal-delete" title="{{ _('Delete') }}">
        <span class="fa fa-plus"></span> {{ _('Create New') }}
    </button>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ _('PGS Associate Groups') }}</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="pgs_data"
                           class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ _('Code') }}</th>
                            <th>{{ _('Name') }}
                            <th>{{ _('Email') }}</th>
                            <th>{{ _('Province') }}</th>
                            <th>{{ _('Actions') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ag in ags %}
                            <tr>
                                <td>
                                    <a href="{{ lurl_for('group.index', ags_id=ag.id) }}">
                                        {{ ag.associate_group_code }}
                                    </a>
                                </td>
                                <td><b>{{ ag.name }}</b></td>
                                <td>{{ ag.email }}</td>
                                <td>{{ ag.province.name }}</td>

                                <td class="actions_column">
                                    <button type="button" class="btn btn-xs btn-info" data-toggle="modal"
                                            data-target="#modal-edit" title="{{ _('Edit') }}">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-xs btn-danger" data-toggle="modal"
                                            data-target="#modal-delete" title="{{ _('Delete') }}">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- .modal -->
    <div class="modal fade in" id="modal-edit" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Default Modal</h4>
          </div>
          <div class="modal-body">
            <p>One fine body…</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <div class="modal modal-danger fade" id="modal-delete" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Danger Modal</h4>
          </div>
          <div class="modal-body">
            <p>One fine body…</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-outline">Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
{%- endblock content %}