{% macro render_modal(id, type) -%}
    <div class="modal {{ type }} fade" id="modal-{{ id }}" style="display: none">
        <!-- .modal -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Default Modal</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body…</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary">Save changes
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{%- endmacro %}

{% macro render_btn(size='btn-xs', type='btn-default', modal_target='modal', title="{{ _('Create New') }}", css_class='plus') -%}
<button type="button" class="btn {{ size }} {{ type }}" data-toggle="modal"
        data-target="#{{ modal_target }}">
    <span class="fa fa-{{ css_class }}"></span>{{ title }}
</button>
{%- endmacro %}
