{% extends "adminlte/base_without_nav.html" %}
{% import "bootstrap/wtf.html" as wtf%}
{% block title %}{{ _('Log In') }}{% endblock %}
{% block description %}{{ _('Log into your account!') }}{% endblock %}
{% block bodytag %}login-page{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}
{% block body %}
  <div class="login-box">
    <div class="login-logo">
        {{ _('Certificate Management') }}<br /><strong>PGS</strong>
    </div>
    <div class="login-box-body">
      <p>{{ _('Log into your account!') }}</p>
      {# Display errors (if there are any). #}
      {% include "security/_messages.html" %}
      {# Render the login form. #}
      {{wtf.quick_form(login_user_form)}}
	<br>
{#	<p>{{ _('New user? ') }}<a href="{{ url_for_security('register') }}">{{ _('Click here to register') }}</a>.</p>#}
    </div>
  </div>
{% endblock %}
