{% extends "adminlte/base_without_nav.html" %}
{% import "bootstrap/wtf.html" as wtf%}
{% block title %}{{ _('Register') }}{% endblock %}
{% block description %}{{ _('Register new PGS account!') }}{% endblock %}
{% block bodytag %}register-page{% endblock %}

{% block body %}

  <div class="register-box">
    <div class="register-logo">
      {{ _('Certificate Management') }}<br /><strong>PGS</strong>
    </div>
    <div class="register-box-body">
      <p>{{ _('Please register new PGS account!') }}</p>
      {# Display errors (if there are any). #}
      {% include "security/_messages.html" %}
      <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
          {# Render the register form. #}
          {{ register_user_form.hidden_tag() }}
          {{ wtf.form_errors(register_user_form, hiddens="only") }}
          {{ wtf.form_field(register_user_form.email) }}
          {{ wtf.form_field(register_user_form.fullname) }}
          {{ wtf.form_field(register_user_form.password) }}
          {{ wtf.form_field(register_user_form.password_confirm) }}
          {{ wtf.form_field(register_user_form.submit) }}
      </form>
    </div>
  </div>

{% endblock %}
