{% extends "index.html" %}
{%- block styles %}
    {{ super() }}
    <link href="{{ adminlte_find_resource('js/plugins/datatables/dataTables.bootstrap.css', cdn='local', use_minified=False) }}"
          rel="stylesheet" type="text/css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/table.css') }}">
{%- endblock styles %}

{% block scripts %}
    {{ super() }}
    <!-- DataTables -->
    <script src="{{ adminlte_find_resource('js/plugins/datatables/jquery.dataTables.js', cdn='local', use_minified=True) }}"></script>
    <script src="{{ adminlte_find_resource('js/plugins/datatables/dataTables.bootstrap.js', cdn='local', use_minified=True) }}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $('#pgs_certificates').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
{%- endblock scripts %}
{% block content_header -%}
    <h1>
        PGS Certificates
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ lurl_for('main.index') }}"><i
                class="fa fa-home"></i> Home</a></li>
        <li><a href="#"><i class="fa fa-balance-scale"></i> Certificates</a></li>
    </ol>
{%- endblock content_header %}
{% block content -%}
    {% if current_user.is_authenticated and ('national_admin' in current_user.roles or
        'national_moderator' in current_user.roles) %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="col-sm-4" id="box-header-left">
                            <div class="dataTables_length" id="pgs_certificates_length">
                                <label>Entries</label>
                                <select
                                        name="pgs_certificates_length"
                                        aria-controls="pgs_certificates"
                                        class="form-control">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-8 table_actions clearfix" id="box-header-right">
                            <div class="table_actions clearfix">
                                <div class="table_search client">
                                    <div class="form-group has-feedback">
                                        <input class="form-control" value="" name="certificate-search"
                                               placeholder="Filter" type="text">
                                        <span class="fa fa-search search-icon form-control-feedback"></span>
                                    </div>
                                </div>
                                <a href="{{ lurl_for('certificate.advance_search') }}"
                                   id="keypairs__action_create"
                                   class="btn data-table-action btn-default ajax-modal"
                                   title="Create Key Pair"><span
                                        class="fa fa-search-plus"></span>
                                    Advance Search...
                                </a>
                                <button id="keypairs__action_create"
                                        class="btn data-table-action btn-default ajax-modal"
                                        title="Create Key Pair"><span
                                        class="fa fa-plus"></span>
                                    Create Certificate
                                </button>
                                {#                                <button id="keypairs__action_create"#}
                                {#                                        class="btn data-table-action btn-default ajax-modal"#}
                                {#                                        title="Create Key Pair"><span#}
                                {#                                        class="fa fa-pencil"></span> Edit Certificate#}
                                {#                                </button>#}
                                <button data-batch-action="true" id="keypairs__action_delete"
                                        class="data-table-action btn-danger btn disabled"
                                        name="action"
                                        type="submit" value="keypairs__delete">
                                    <span class="fa fa-trash"></span>Delete Certificates
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="pgs_certificates"
                               class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>{{ _('Certificate ID') }}</th>
                                <th>{{ _('Certificate Name') }}</th>
                                <th>{{ _('Owner Group') }}</th>
                                <th>{{ _('Active Date') }}</th>
                                <th>{{ _('Status') }}</th>
                                <th>{{ _('Actions') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for certificate in certificates %}
                                <tr>
                                    <td>
                                        <a href="{{ lurl_for('certificate.details',
                                                        certificate_id=certificate.certificate_id) }}">
                                            {{ certificate.certificate_id }}
                                        </a>
                                    </td>
                                    <td>{{ certificate.certificate_name }}</td>
                                    <td>{{ certificate.owner_group }}</td>
                                    <td>{{ certificate.active_date }}</td>
                                    <td>{{ certificate.status }}</td>
                                    <td class="actions_column">
                                        <div class="btn-group">
                                            <a class="btn table-action-default btn-default btn-sm ajax-modal">
                                                View Certificate Details
                                            </a>
                                            <a class="btn btn-default btn-sm dropdown-toggle"
                                               data-toggle="dropdown" href="#"
                                               aria-expanded="false">
                                                <span class="fa fa-caret-down"></span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right row_actions">
                                                <li>
                                                    <a class="btn table-action-default ajax-modal">
                                                        Edit Certificate
                                                    </a>
                                                    <a class="btn table-action-danger ajax-modal">
                                                        Delete Certificate
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{{ _('Certificate ID') }}</th>
                                <th>{{ _('Certificate Name') }}</th>
                                <th>{{ _('Owner Group') }}</th>
                                <th>{{ _('Active Date') }}</th>
                                <th>{{ _('Status') }}</th>
                                {#                            <th>{{ _('Actions') }}</th>#}
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    {% elif current_user.is_authenticated and ('national_user' in current_user.roles) %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="col-sm-4" id="box-header-left">
                            <div class="dataTables_length" id="pgs_certificates_length">
                                <label>Entries</label>
                                <select
                                        name="pgs_certificates_length"
                                        aria-controls="pgs_certificates"
                                        class="form-control">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-8 table_actions clearfix" id="box-header-right">
                            <div class="table_actions clearfix">
                                <div class="table_search client">
                                    <div class="form-group has-feedback">
                                        <input class="form-control" value="" name="certificate-search"
                                               placeholder="Filter" type="text">
                                        <span class="fa fa-search search-icon form-control-feedback"></span>
                                    </div>
                                </div>
                                <a href="{{ lurl_for('certificate.advance_search') }}"
                                   id="keypairs__action_create"
                                   class="btn data-table-action btn-default ajax-modal"
                                   title="Create Key Pair"><span
                                        class="fa fa-search-plus"></span>
                                    Advance Search...
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="pgs_certificates"
                               class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>{{ _('Certificate ID') }}</th>
                                <th>{{ _('Certificate Name') }}</th>
                                <th>{{ _('Owner Group') }}</th>
                                <th>{{ _('Active Date') }}</th>
                                <th>{{ _('Status') }}</th>
                                <th>{{ _('Actions') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for certificate in certificates %}
                                <tr>
                                    <td>
                                        <a href="{{ lurl_for('certificate.details',
                                                        certificate_id=certificate.certificate_id) }}">
                                            {{ certificate.certificate_id }}
                                        </a>
                                    </td>
                                    <td>{{ certificate.certificate_name }}</td>
                                    <td>{{ certificate.owner_group }}</td>
                                    <td>{{ certificate.active_date }}</td>
                                    <td>{{ certificate.status }}</td>

                                    <td class="actions_column">
                                        <div class="btn-group">
                                            <a class="btn table-action-default btn-default btn-sm ajax-modal">
                                                View Certificate Details
                                            </a>
                                            {#                                            <a class="btn btn-default btn-sm dropdown-toggle"#}
                                            {#                                               data-toggle="dropdown" href="#"#}
                                            {#                                               aria-expanded="false">#}
                                            {#                                                <span class="fa fa-caret-down"></span>#}
                                            {#                                            </a>#}
                                            {#                                            <ul class="dropdown-menu dropdown-menu-right row_actions">#}
                                            {#                                                <li>#}
                                            {#                                                    <a class="btn table-action-default ajax-modal">#}
                                            {#                                                        Edit Certificate#}
                                            {#                                                    </a>#}
                                            {#                                                    <a class="btn table-action-danger ajax-modal">#}
                                            {#                                                        Delete Certificate#}
                                            {#                                                    </a>#}
                                            {#                                                </li>#}
                                            {##}
                                            {#                                            </ul>#}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>{{ _('Certificate ID') }}</th>
                                <th>{{ _('Certificate Name') }}</th>
                                <th>{{ _('Owner Group') }}</th>
                                <th>{{ _('Active Date') }}</th>
                                <th>{{ _('Status') }}</th>
                                <th>{{ _('Actions') }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>

    {% endif %}



    <!-- /.row -->
{%- endblock content %}