<div class="table_actions clearfix">


    <div class="table_search">


        <div class="themable-select dropdown " xmlns="http://www.w3.org/1999/html">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="dropdown-title"> Instance ID =</span><span class="fa fa-caret-down"></span></button>
            <ul class="dropdown-menu">
                <li data-original-index="0" data-toggle="tooltip" data-placement="top"><a data-select-value="uuid"
                                                                                          true="">Instance ID =</a></li>
                <li data-original-index="1" data-toggle="tooltip" data-placement="top"><a data-select-value="name"
                                                                                          true="">Instance Name</a></li>
                <li data-original-index="2" data-toggle="tooltip" data-placement="top"><a data-select-value="image"
                                                                                          true="">Image ID =</a></li>
                <li data-original-index="3" data-toggle="tooltip" data-placement="top"><a data-select-value="image_name"
                                                                                          true="">Image Name =</a></li>
                <li data-original-index="4" data-toggle="tooltip" data-placement="top"><a data-select-value="ip"
                                                                                          true="">IPv4 Address</a></li>
                <li data-original-index="5" data-toggle="tooltip" data-placement="top"><a data-select-value="ip6"
                                                                                          true="">IPv6 Address</a></li>
                <li data-original-index="6" data-toggle="tooltip" data-placement="top"><a data-select-value="flavor"
                                                                                          true="">Flavor ID =</a></li>
                <li data-original-index="7" data-toggle="tooltip" data-placement="top"><a
                        data-select-value="flavor_name" true="">Flavor Name =</a></li>
                <li data-original-index="8" data-toggle="tooltip" data-placement="top"><a data-select-value="key_name"
                                                                                          true="">Key Pair Name</a></li>
                <li data-original-index="9" data-toggle="tooltip" data-placement="top"><a data-select-value="status"
                                                                                          true="">Status =</a></li>
                <li data-original-index="10" data-toggle="tooltip" data-placement="top"><a
                        data-select-value="availability_zone" true="">Availability Zone</a></li>
                <li data-original-index="11" data-toggle="tooltip" data-placement="top"
                    title="Filter by an ISO 8061 formatted time, e.g. 2016-06-14T06:27:59Z"><a
                        data-select-value="changes-since" true="">Changes Since</a></li>
                <li data-original-index="12" data-toggle="tooltip" data-placement="top"><a data-select-value="vcpus"
                                                                                           true="">vCPUs =</a></li>
            </ul>
            <select name="instances__filter__q_field">
                <option value="uuid" true="">Instance ID =</option>
                <option value="name" true="">Instance Name</option>
                <option value="image" true="">Image ID =</option>
                <option value="image_name" true="">Image Name =</option>
                <option value="ip" true="">IPv4 Address</option>
                <option value="ip6" true="">IPv6 Address</option>
                <option value="flavor" true="">Flavor ID =</option>
                <option value="flavor_name" true="">Flavor Name =</option>
                <option value="key_name" true="">Key Pair Name</option>
                <option value="status" true="">Status =</option>
                <option value="availability_zone" true="">Availability Zone</option>
                <option value="changes-since" true="">Changes Since</option>
                <option value="vcpus" true="">vCPUs =</option>
            </select></div>


        <input class="form-control" value="" name="instances__filter__q" type="text">
        <button type="submit" class="btn btn-default " id="instances__action_filter">Filter</button>
    </div>


    <a id="instances__action_launch-ng"
       ng-click="modal.openLaunchInstanceWizard({ successUrl: '/horizon/project/instances/' })"
       ng-controller="LaunchInstanceModalController as modal"
       class="btn data-table-action btn-default btn-launch ng-scope" href="javascript:void(0);" title="Launch Instance"><span
            class="fa fa-cloud-upload"></span> Launch Instance</a>


    <button data-batch-action="true" id="instances__action_delete" class="data-table-action btn-danger btn disabled"
            name="action" help_text="Deleted instances are not recoverable." type="submit" value="instances__delete">
        <span class="fa fa-trash"></span> Delete Instances
    </button>


    <div class="table_actions_menu">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">

            More Actions

            <span class="fa fa-caret-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">

            <li>

                <button data-batch-action="true" id="instances__action_start"
                        class="data-table-action btn-default btn disabled" name="action"
                        help_text="This action cannot be undone." type="submit" value="instances__start"> Start
                    Instances
                </button>

            </li>

            <li>

                <button data-batch-action="true" id="instances__action_stop"
                        class="data-table-action btn-danger btn disabled" name="action"
                        help_text="The instance(s) will be shut off." type="submit" value="instances__stop"> Shut Off
                    Instances
                </button>

            </li>

            <li>

                <button data-batch-action="true" id="instances__action_soft_reboot"
                        class="data-table-action btn-danger btn disabled" name="action"
                        help_text="Restarted instances will lose any data not saved in persistent storage."
                        type="submit" value="instances__soft_reboot"> Soft Reboot Instances
                </button>

            </li>

        </ul>
    </div>


</div>

<div class="table_search client">
    <div class="form-group has-feedback">
        <input class="form-control" value="" name="keypairs__filter__q" placeholder="Filter" type="text">
        <span class="fa fa-search search-icon form-control-feedback"></span>
    </div>
</div>


<div class="table_actions clearfix">


    <div class="table_search client">
        <div class="form-group has-feedback">
            <input class="form-control" value="" name="keypairs__filter__q" placeholder="Filter" type="text">
            <span class="fa fa-search search-icon form-control-feedback"></span>
        </div>
    </div>


    <a id="keypairs__action_create" class="btn data-table-action btn-default ajax-modal"
       href="/horizon/project/key_pairs/create/" title="Create Key Pair"><span class="fa fa-plus"></span> Create Key
        Pair</a>


    <a id="keypairs__action_import" class="btn data-table-action btn-default ajax-modal"
       href="/horizon/project/key_pairs/import/" title="Import Key Pair"><span class="fa fa-upload"></span> Import Key
        Pair</a>


    <button data-batch-action="true" id="keypairs__action_delete" class="data-table-action btn-danger btn disabled"
            name="action"
            help_text="Removing a key pair can leave OpenStack resources orphaned. You should not remove a key pair unless you are certain it is not being used anywhere."
            type="submit" value="keypairs__delete"><span class="fa fa-trash"></span> Delete Key Pairs
    </button>


</div>